.popap__container {
    padding: 34px 36px;
    background-color: #fff;
    max-width: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 -200px;
}

@media screen and (min-width: 1024px) and (max-width: 1279.5px) {
   .popap__container {
    margin: 0 -120px;
   } 
}

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .popap__container {
     margin: 0 -60px;
    } 
}

@media screen and (max-width: 767.5px) {
    .popap__container {
        margin: 0 -19px;
        min-width: 282px;
        padding: 25px 22px;
    } 
 }
