.popup-figure__image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
    max-height: 75vh;
}

@media screen and (max-width: 424.5px) {
    .popup-figure__image {
        min-height: 299px;
        object-fit: cover;
    }
    
}