.header {
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 45px 200px 40px;
    padding: 0;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
        margin: 45px auto 40px;
    }  
}

@media screen and (max-width: 424.5px) {
    .header {
        margin: 28px 0 42px 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767.5px) {
    .header {
        margin-left: 19px;
        margin-right: 19px;
    }  
}

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .header {
        margin-left: 60px;
        margin-right: 60px;
    }  
}

@media screen and (min-width: 1024px) and (max-width: 1279.5px) {
    .header {
        margin-left: 120px;
        margin-right: 120px;
    }  
}
