.footer {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    max-width: 318px;
}

@media screen and (max-width: 324.5px) {
    .footer {
        margin-bottom: 36px;
        max-width: 282px;
    }
}